recursive-include graphdash *
recursive-include default_graph_dir *
recursive-include tests *
recursive-include docs *
include README.rst tox.ini setup.cfg LICENSE
include Gruntfile.js package.json
include GraphDashManage settings.sh
